@font-face {
    font-family: Inter;
    src: url();
}
* {
    text-decoration: none;
}
.container{
    max-width: 1174px;
    margin: 0 auto;
}
body {
    scroll-behavior: smooth;
}


.logo {
    position: static;
    width: 35px;
    height: 40px;
    margin: 0px 0px;
}
.div{
    width: 577px;
    margin: -30px 597px;
    display: flex;
    justify-content: space-between;
}
.home {
    color: rgb(242, 88, 34);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
}
.fontNav {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
}
.mainText {
    position: static;
    width: 556px;
    height: 216px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.space {
    margin-top: 84px;
}
.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.str {
    position: static;
    width: 556px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    color: rgb(136, 136, 136);
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
}
.img {
    position: absolute;
    width: 545px;
    height: 375px;
    left: 700px;
    right: 0;
    top: 130px;
    bottom: 0;
    background: url(pngfind);
}
.btnMeta {
    position: static;
    width: 556px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0;
}
.btn {
    position: static;
    width: 140px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
    border-radius: 56px;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
    background: rgb(242, 88, 34);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.watch {
    position: static;
    width: 99px;
    height: 19px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 48px;
    color: rgb(170, 170, 170);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.footer {
    margin-top: 100px;
    margin-bottom: 100px;
}
.footerLogo{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

